// red
$redColor: #EB5757;
$superRedColor: #FF0000;

// blue
$blueColor3: #56CCF2;
$blueColor: #25C4F6;
// $blueColor3: green;
// $blueColor: green;

// grey
$greyColor3: #565656;
$textColor: #505050;
$textColor82: #828282;
$greyColor: #a4a4a4;
$textColorWhite: #ffffff;
