
.element-info-list {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 20px;
  width: 100%;
  background-color: #ffffff;

  ul {
    display: flex;
    flex-direction: column;

    .element-info-list__li {
      display: flex;
      flex-direction: column;
      padding: 0px 0px;
      margin: 5px 0;

      .element-info-list__li-wrapp {
        display: flex;
        align-items: center;

        .element-info-list__num {
          border-radius: 50%;
          width: 54px;
          height: 54px;
          background-color: $blueColor3;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 1;
          margin: 0 22px 0 0;
          flex-shrink: 0;

          span {
            font-family: $globalFont;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
            color: #ffffff;
          }

        }

        .element-info-list__text {
          cursor: default;
          font-family: $globalFont;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 23px;
          color: $textColor;
          margin: 0 22px 0 0;
         }

        .element-info-list__info-btn-wrapper {
          height: 1px;
          background-color: $blueColor3;
          flex-grow: 1;
          min-width: 72px;
          position: relative;

          // Кнопка открытия info
          .element-info-list__info-btn {
            position: absolute;
            top: -16px;
            right: 20px;
            width: 32px;
            height: 32px;
            border: 1px solid $blueColor3;
            border-radius: 50%;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;

            // Стрелка для кнопки

            .arrow-2 {
              cursor: pointer;
              height: 15px;
              width: 0px;
              position: relative;
              margin: 0px;
              transform: rotate(90deg);
              transition: all 200ms ease-in;

              .arrow-2-top,
              .arrow-2-bottom {
                  background: $blueColor3;
                  height: 1px;
                  left: -6px;
                  position: absolute;
                  top: 7px;
                  width: 10px;
              }
              .arrow-2-top {
                  top: 7px;
              }
              .arrow-2-top {
                  transform: rotate(45deg);
                  transform-origin: bottom right;
              }
              .arrow-2-bottom {
                  transform: rotate(-45deg);
                  transform-origin: top right;
              }
              .arrow-2-top::after,
              .arrow-2-bottom::after {
                  background: $textColor;
                  content: '';
                  height: 100%;
                  position: absolute;
                  top: 0;
                  transition: all 0.15s;
              }
              .arrow-2-top::after {
                  left: 100%;
                  right: 0;
                  transition-delay: 0s;
              }
              .arrow-2-bottom::after {
                  left: 0;
                  right: 100%;
                  transition-delay: 0.15s;
              }
            }

            .arrow-2-open {
              transform: rotate(270deg);
              transition: all 200ms ease-in;
            }
              // Стрелка для кнопки /
          }

            .element-info-list__info-btn:hover {
              .arrow-2-top::after {
                left: 0;
                transition-delay: 0.15s;
              }
              .arrow-2-bottom::after {
                right: 0;
                transition-delay: 0s;
              }
            }
        }

      }

      .element-info-list__li-info {
        // transform: translateY(-100px);
        opacity: 0;
        height: 0;
        padding: 15px 22px;
        align-self: center;
        max-width: 80%;
        // display: block;
        border: 1px solid $blueColor3;
        box-sizing: border-box;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        transition: all 200ms ease-in;

        // animation: element-info-list__scale-top-ver-up 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

        // @keyframes element-info-list__scale-top-ver-up {
        //   0% {
        //     -webkit-transform: scaleY(1);
        //             transform: scaleY(1);
        //     -webkit-transform-origin: 100% 0%;
        //             transform-origin: 100% 0%;
        //   }
        //   100% {
        //     -webkit-transform: scaleY(0.4);
        //             transform: scaleY(0.4);
        //     -webkit-transform-origin: 100% 0%;
        //             transform-origin: 100% 0%;
        //   }
        // }


        font-family: $globalFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: $textColor;

        p {
          margin: 10px 0;
        }

      }

      .element-info-list__li-info-open {
        height: 100%;
        opacity: 1;
        // transform: translateY(0px);
        transition: all 200ms ease-in;
        animation: element-info-list__scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

        @keyframes element-info-list__scale-up-ver-top {
          0% {
            -webkit-transform: scaleY(0.4);
                    transform: scaleY(0.4);
            -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
          }
          100% {
            -webkit-transform: scaleY(1);
                    transform: scaleY(1);
            -webkit-transform-origin: 100% 0%;
                    transform-origin: 100% 0%;
          }
        }
      }

      .element-info-list__li-info-none {
        display: none;
      }
    }
  }
}

@media (max-width: 799px) {
  .element-info-list ul li .element-info-list__li .element-info-list__li-wrapp .element-info-list__text {
    font-size: 15px;
  }

  .startuk .startuk__list ul .element-info-list__li-info {
    font-size: 14px;
  }

  .startuk .startuk__list ul .element-info-list__li-info p {
    margin: 5px 0;
  }
}

@media (max-width: 599px) {
  .element-info-list ul li .element-info-list__li .element-info-list__li-wrapp .element-info-list__text {
    font-size: 16px;
    font-weight: 400;
  }

  .startuk .startuk__list ul .element-info-list__li-info {
    font-size: 13px;
  }
}

@media (max-width: 499px) {

  .element-info-list ul li {
    border: 1px solid $blueColor3;
    border-radius: 5px;
    margin: 2px 0;
    padding: 5px;
  }

  .element-info-list ul li .element-info-list__li .element-info-list__li-wrapp .element-info-list__text {
    font-size: 14px;
    font-weight: 400;
  }

  .element-info-list ul li .element-info-list__li .element-info-list__li-wrapp .element-info-list__num {
    width: 40px;
    height: 40px;
  }

  .element-info-list ul li .element-info-list__li .element-info-list__li-wrapp .element-info-list__num span {
    font-size: 18px;
  }

  .element-info-list ul li .element-info-list__li .element-info-list__li-wrapp .element-info-list__info-btn-wrapper {
    flex-grow: 1;
    min-width: 32px;
    position: relative;
    background-color: inherit;
  }

  .element-info-list ul li .element-info-list__li .element-info-list__li-wrapp .element-info-list__info-btn-wrapper .element-info-list__info-btn {
    right: 0px;
  }
}

