.error-block {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.main-block {
  display: flex;
  width: 100%;
  justify-content: center;

  font-size: 16px;
  font-weight: 100;
  font-family: $globalFont;
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.CssBoxForm {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 30px 40px 26px;
  background: rgba(0, 0, 0, .2);
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.content {
  width: 100%;
  height: 100%;
}

.indent {
  margin: 0px 10px 0px 10px;
  font-size: 12px;
}

.link_in {
  padding: 2px 6px;
  background: #ffffff3d;
  margin-left: 20px;
  border-radius: 2px;
  line-height: 15px;
  margin-top: -2px;
}

a:hover {
  text-decoration: underline;
}

.CssGrid {
  display: flex;
  width: 100%;
}

.copyrights {
  font-size: 12px;
  margin-right: 30px;
}

.title-form {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 45px;
  margin-top: 0px;
  text-align: center;
}

.row {
  margin-bottom: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.submit-btn {
  color: white;
  border: 1px solid #ffffff3b;
  background: #ffffff26;
  cursor: pointer;
  width: 100%;
  height: 44px;
  font-size: 14px;
  font-weight: 100;
  font-family: $globalFont;
}

.submit-btn:hover {
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px #fff;
}

.submit-btn:active {
  box-shadow: none;

}

.message-success-btn {
  color: white;
  border: 1px solid #ffffff3b;
  background: #ffffff26;
  cursor: pointer;
  width: 100%;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 42px;
  text-decoration: none;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 100;
  font-family: $globalFont;
}

.message-success a:hover {
  text-decoration: none;
  background: #ffffff38;
}

.submit-btn:disabled {
  border: 1px solid rgba(156, 156, 156, 0.6);
  color: rgba(195, 195, 195, 0.4);
  // background: #909090;
}

.error {
  color: yellow;
  font-size: 13px;
  min-height: 17px;
}

.error-border {
  border: 1px solid yellow !important;
}

.message-success {
  display: none;
  flex-direction: column;
  width: 320px;
  padding: 30px 40px 26px;
  background: rgba(0,0,0,.5);
}

.link-block {
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 26px;
  margin-bottom: 15px;
}

.link-block a {
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
}

#label-iAgree {
  margin-left: 10px;
}

@media (max-width: 680px) {
  .main-block {
      justify-content: flex-start
  }

  .wrapper {
      width: 100%;
  }

  .CssBoxForm {
      width: 100%;
      padding: 10px 20px;
      background: transparent;
  }

  .footer {
      flex-direction: column;
      padding: 10px 20px;
      font-size: 14px;
      background: rgba(255, 255, 255, 0);
  }

  .footer a {
      margin-top: 10px;
  }

  .indent {
      display: none;
  }

  .link_in {
      padding: 6px 5px;
      background: #ffffff3d;
      border-radius: 2px;
      line-height: 13px;
      width: 100px;
      text-align: center;
      margin-left: 0px;
  }

  .CssHeaderInfoBox {
      display: flex;
      justify-content: space-between;
      padding: 0px 20px 25px 20px;
  }

  .copyrights {
      text-align: left;
      margin-right: 0px;
  }

  .CssBoxLogo {
      display: none;
  }

  .CssBoxInfo {
      display: none;
  }

  .message-success {
      width: 100%;
      padding: 10px 20px;
      background: transparent;
  }
}

.custom-input,
.custom-textarea,
.custom-select {
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: white;
  font-size: 15px;
  padding: 0px 5px;
  margin-top: 3px;
  width: -webkit-fill-available;
}
.custom-input:focus {
  border-color: #ffffff;
  outline: 0;
  background: #ffffff12;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0px rgba(0,0,0,0.075), 0 0 6px rgba(255, 255, 255, 0.6);
}
.custom-textarea:focus {
  border-color: #ffffff;
  outline: 0;
  background: #ffffff12;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0px rgba(0,0,0,0.075), 0 0 6px rgba(255, 255, 255, 0.6);
}
.custom-select {
  cursor: pointer;
  height: 32px;
}

.custom-select option {
  color: black;
  background: white;
}

.custom-textarea {
  resize: none;
  height: 100px;
}

.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px
}

.checkbox-block {
  margin-right: 10px;
  display: flex;
}

.checkbox-block label{
  margin-left: 5px;
  margin-top: -2px;
  font-size: 15px;
  cursor: pointer;
}

.checkbox-block input[type="checkbox"] {
   height: 16px;
   width: 16px;
   margin: 0;
   cursor: pointer;
}

.row-title {
  margin-bottom: 10px;
}

/*прелоудер*/

#myPreloader {
  display: none;
}
.preloader {
//  /* position: fixed;*/
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  overflow: hidden;
// /* фоновый цвет */
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
      transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}