.my-footer {
  position: relative;
  width: 100%;
  background-color: $blueColor;
  display: flex;
  justify-content: center;
  padding: 56px 0 88px;
  z-index: -2;
  overflow: hidden;

  .my-footer__bg1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    border-top: 30px solid #ffffff;
    border-left: 100vw solid transparent;
    z-index: -1;
  }

  .my-footer__wrap {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .my-footer__h2 {
      font-family: $globalFont;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 31px;
      color: $textColorWhite;
    }
    .my-footer__line {
      margin: 15px 0 35px;
      width: 546px;
      height: 1px;
      background-color:#ffffff;
    }
    .my-footer__body {
      display: flex;
      justify-content: center;


      .my-footer__body-contacts {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;;

        .my-footer__body-header {
          font-family: $globalFont;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 31px;
          color: $textColorWhite;
          text-align: center;
        }
        .my-footer__body-contacts-contacts {
          padding: 32px 0 20px;
        }
      }
      .my-footer__body-line {
        margin: 15px 0 15px;
        width: 1px;
        height: 100%;
        background-color:#ffffff;
      }
      .my-footer__body-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;

        .my-footer__body-header {
          h3 {
            font-family: $globalFont;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 31px;
            color: $textColorWhite;
            text-align: center;
          }
        }
        .my-footer__body-form-form {
          padding: 32px 0 20px;
        }
      }
    }
  }
}

@media (max-width: 1365px) {

  .my-footer .my-footer__wrap {
    width: 75%;
  }
}

@media (max-width: 1051px) {

  .my-footer .my-footer__wrap {
    width: 95%;
  }
}

@media (max-width: 699px) {
  .my-footer .my-footer__wrap .my-footer__h2 h2 {
    font-size: 20px;
    text-align: center;
  }

  .my-footer .my-footer__wrap .my-footer__line {
    max-width: 80%;
  }

  .my-footer .my-footer__wrap .my-footer__body {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .my-footer .my-footer__wrap .my-footer__body .my-footer__body-contacts {
    width: 100%
  }

  .my-footer .my-footer__wrap .my-footer__body .my-footer__body-contacts .my-footer__body-contacts-contacts {
    padding: 10px 0 10px;
  }

  .my-footer .my-footer__wrap .my-footer__body .my-footer__body-line {
    display: none;
  }

  .my-footer .my-footer__wrap .my-footer__body .my-footer__body-contacts .my-footer__body-header h3{
    font-size: 20px;
    padding: 10px 0 10px;
  }

  .my-footer .my-footer__wrap .my-footer__body .my-footer__body-form {
    width: 100%;
  }

  .my-footer .my-footer__wrap .my-footer__body .my-footer__body-form .my-footer__body-header h3 {
    font-size: 20px;
    padding: 10px 0 10px;
  }
}