header {
  height:260px;
  position: relative;

  .left-rectangle-bg {
     background-image: url(../img/header_logo_bd.svg);
     background-size: 100%;
     opacity: 1;
     border-radius: 0px 50px 50px 0px;
     position: absolute;
     z-index: 0;
     top: 15px;
     left: -1px;
     min-width: 1350 / 1440 * 100%;
     height: 220px;

  }
  .left-rectangle {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 0px;
    position: absolute;
    z-index: 0;
    top: 15px;
    left: 0px;
    min-width: 1350 / 1440 * 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header-info {
      height: 200px;
      width: 85%;
      display: flex;
      justify-content: space-around;

      .header-info__logo {
        align-self: center;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 140px;
        }
      }

      .header-info__text {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .header-info__text1 {
          h1 {
            font-family: $globalFont;
            color: $textColorWhite;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;

            span {
              color: $superRedColor;
            }
          }
        }

        .line {
          height: 1px;
          background-color: #ffffff;
          box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
        }

        .header-info__text2 {
          display: flex;
          justify-content: space-around;
          align-items: center;

          .header-info__text2__text {
            font-family: $globalFont;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 35px;
            color: $textColorWhite;

            span {
              color: #ffffff;
              font-size: 24px;
              line-height: 30px;
            }
          }

          .header-info__btn {
            .send-form-btn {
              position: relative;
              display: block;
              color: $superRedColor;
              font-family: $globalFont;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 31px;
              width: 290px;
              height: 60px;
              background: #FFFFFF;
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 30px;
              overflow: hidden;
              transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
            }

            .send-form-btn:hover {
              color: #ffffff !important;
              background-color: transparent;
              text-shadow: nthree;
            }

            .send-form-btn:hover:before {
              left: 0%;
              right: auto;
              width: 100%;
            }

            .send-form-btn:before {
              display: block;
              position: absolute;
              top: 0px;
              right: 0px;
              height: 100%;
              width: 0px;
              z-index: -1;
              content: '';
              color: #ffffff !important;
              background: $blueColor3;
              transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
            }
            .send-form-btn:active {
              background-color: $greyColor;
              box-shadow: none;
              transition: all 50ms ease-in;
            }
          }
        }
      }
    }
  }

  .right-rectangle-bg {
    background-image: url(../img/whatIsFranchise_bg1.jpg);
    background-size: 100%;
    background-attachment: fixed;
    border-radius: 0px 0px 0px 100px;
    position: absolute;
    z-index: -2;
    top: 0px;
    right: 0px;
    min-width: 1300 / 1440 *100%;
    height: 260px;

    animation: header__right_go 0.7s ease-in 0s 1;
    @keyframes header__right_go {
      from {
        opacity: 0;
      }
      to {
        opacity: 100;
      }
    }
  }
}


@media (max-width: 1365px) {
  header {
    height: 210px ;

    .left-rectangle-bg {
      height: 200px;
      top: 10px;
    }
    .left-rectangle {
      height: 200px;
      top: 10px;

      .header-info {
        height: 180px;

        .header-info__logo {
            height: 160px;
            width: 160px;
          img {
            height: 120px;
          }
        }

        .header-info__text {

          .header-info__text1 {
            h1 {

              span {

              }
            }
          }

          .line {

          }

          .header-info__text2 {

            .header-info__text2__text {

              span {

              }
            }

            .header-info__btn {
              .send-form-btn {

              }

              .send-form-btn:hover {

              }

              .send-form-btn:hover:before {

              }

              .send-form-btn:before {

              }
              .send-form-btn:active {

              }
            }
          }
        }
      }
    }

    .right-rectangle-bg {
     height: 220px;
    }
  }
}

@media (max-width: 1051px) {
  header {
    height: 210px ;

    .left-rectangle-bg {
      height: 200px;
      top: 10px;
    }
    .left-rectangle {
      height: 200px;
      top: 10px;

      .header-info {
        height: 160px;
        width: 95%;

        .header-info__logo {
            height: 160px;
            width: 160px;
          img {
            height: 120px;
          }
        }

        .header-info__text {

          .header-info__text1 {
            h1 {
              font-size: 20px;

              span {
                font-size: 20px;
              }
            }
          }

          .line {

          }

          .header-info__text2 {

            .header-info__text2__text {
              font-size: 16px;
              line-height: 18px;
              span {
                line-height: 20px;
                font-size: 18px;
              }
            }

            .header-info__btn {
              .send-form-btn {
                width: 220px;
              }

              .send-form-btn:hover {

              }

              .send-form-btn:hover:before {

              }

              .send-form-btn:before {

              }
              .send-form-btn:active {

              }
            }
          }
        }
      }
    }

    .right-rectangle-bg {
     height: 220px;
    }
  }
}

@media (max-width: 799px) {
  header {
    height: 150px ;

    .left-rectangle-bg {
      height: 150px;
      width: 100%;
      border-radius: 0;
      top: 0;
    }
    .left-rectangle {
      height: 150px;
      width: 100%;
      border-radius: 0;
      top: 0;

      .header-info {
        height: 150px;
        width: 95%;

        .header-info__logo {
            height: 120px;
            width: 120px;
          img {
            height: 90px;
          }
        }

        .header-info__text {

          .header-info__text1 {
            h1 {

              span {

              }
            }
          }

          .line {

          }

          .header-info__text2 {

            .header-info__text2__text {

              span {

              }
            }

            .header-info__btn {
              .send-form-btn {
                height: 40px;
                width: 200px;
                font-size: 20px;
              }

              .send-form-btn:hover {

              }

              .send-form-btn:hover:before {

              }

              .send-form-btn:before {

              }
              .send-form-btn:active {

              }
            }
          }
        }
      }
    }

    .right-rectangle-bg {
     display: none;
    }
  }
}

@media (max-width: 599px) {
  header {
    height: 220px;
    left: 0;

    .left-rectangle-bg {
      height: 220px;
      width: 100%;
      border-radius: 0;
      top: 0;
      background-image: url(../img/header_logo_bd.svg);
      background-size: cover;
    }

    .left-rectangle {
      height: 220px;
      width: 100%;
      border-radius: 0;
      top: 0;

      .header-info {
        height: 200px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;

        .header-info__logo {
            height: 80px;
            width: 80px;
            margin-top: 5px;
            flex-shrink: 0;

          img {
            height: 60px;
          }
        }

        .header-info__text {
          width: 95%;
          align-items: center;

          .header-info__text1 {
            h1 {
              font-size: 15px;
              line-height: 19px;
              text-align: center;

              span {

              }
            }
          }

          .line {
            width: 80%;
            margin: 10px 0;
          }

          .header-info__text2 {

            .header-info__text2__text {
              font-size: 14px;

              span {
                font-size: 15px;
                line-height: 19px;
              }
            }

            .header-info__btn {
              display: none;
              .send-form-btn {
                height: 30px;
                width: 150px;
                font-size: 20px;
              }

              .send-form-btn:hover {

              }

              .send-form-btn:hover:before {

              }

              .send-form-btn:before {

              }
              .send-form-btn:active {

              }
            }
          }
        }
      }
    }

    .right-rectangle-bg {
     display: none;
    }
  }
}

